# UPCONSENT SETTING:
# Firebase Emulator Configuration
USE_EMULATOR=true
VITE_USE_EMULATOR=true
PORT=8019

HOST_ADDR=Your_IP_address
MASTER_PASSWORD=5hnd..jk4ne!kwjs?wnsmmf


MONGO_USER=root
MONGO_PASSWORD=YOUR_MONGO_PASSWORD
MONGO_HOST=mongo
MONGO_PORT=27017

USER_MONGO_DB=dips_services
MONGO_DB=dips_services

CONSUMER_DASHBOARD_USERNAME="Semih.Yumusak@soton.ac.uk"
CONSUMER_DASHBOARD_PASSWORD="wcXaWTm#ex.`Q/-q7UHZEL"
PROVIDER_DASHBOARD_USERNAME="giannis.papastamou@maggioli.gr"
PROVIDER_DASHBOARD_PASSWORD="12345678"

