{% extends 'base_template_organization.html' %}
{% load static %}
{% block title %} View configured/sent consents (or rules) {% endblock %}
{% block content %}
    <main id="main">
        <section id="faq" class="faq">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <p>Configured Consent Form Details</p>
                </header>
                <div class="row">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">
                                <h2>{{ consentform.consent_request_form_title }}</h2>
                            </div>
                            <table class="table table-responsive">
                                <thead>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <b>Used General Ontology</b>
                                    </td>
                                    <td>
                                        {{ consentform.general_ontology }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Used Domain Ontology</b>
                                    </td>
                                    <td>
                                        {{ consentform.domain_ontology }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Used Data Schema Ontology</b>
                                    </td>
                                    <td>
                                        {{ consentform.schema_ontology }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Requested Data</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_data }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Data Processing Purpose</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_purpose }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Data Processing Operations</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_operations }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Start Date</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_date_start }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>End Date</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_date_end }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Status (Sent to User?)</b>
                                    </td>
                                    <td>
                                        <b style="color: red">{{ consentform.consent_request_sent_status }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Consent Requested By</b>
                                    </td>
                                    <td>
                                        {{ consentform.consent_requested_by }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Additional Constraints (Rule)</b>
                                    </td>
                                    <td>
                                        {{ consentform.additional_requests }}
                                    </td>
                                </tr>
                                </tbody>


                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    </main><!-- End #main -->
    <script>
        $(document).ready(function () {


            $(".submitbtn").click(function (event) {
                event.preventDefault();
                var button_id = $(this).attr('id');
                var closest_select = $("#" + button_id).prevAll('select.sendmultiformclass').attr('id');

                var selected_users = $("#" + closest_select).val();
                if (selected_users.length < 1) {
                    alert("Please select atleast one user to send the request");
                    return false;
                }
                var consnt_form_name = $("#consentformname").val();
                var saveddata = {
                    "consentform": consnt_form_name,
                    "selected_users": selected_users
                }
                console.log("########################");
                console.log(saveddata);
                console.log("########################");
                $.ajax({
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token
                    },
                    url: 'send_consent_to_selected_user',
                    contentType: 'application/json',
                    data: JSON.stringify(saveddata),
                    success: function (result) {
                        console.log('Success:', result);
                        alert(result.message);
                        location.reload(true);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });


            });
            $('.sendmultiformclass').multiselect({
                columns: 3,
                placeholder: 'Select users to send the request',
                search: true,
                searchOptions: {
                    'default': 'Search users'
                },
                maxHeight: 100,
                selectGroup: true,//
                selectAll: true
            });
        });
    </script>
{% endblock %}
```