{% extends 'base_template_users.html' %}
{%load static %}
{% block title %} User Home {% endblock %}
{% block content %}
  <main id="main">
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Welcome {{ user.first_name }}</p>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <p>
                    This is the user home page.

                </p>
            </div>

          </div>

        </div>

      </div>

    </section>
 </main><!-- End #main -->
{% endblock %}
```